/* 
##################################
        GENERAL
##################################
*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* 
Farben:
#2e2e2e
#867772
rgb(234, 204, 194)
#ebccc2
#fff
rgb(115, 115, 115)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  background-color: #2e2e2e;
  color: rgb(234, 204, 194);
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* 
##################################
        HEADER
##################################
*/
header {
  position: sticky;
  top: 0;
  width: 95%;
  margin: 0 auto -80vh auto;
}
/* 
# # # # # # # # # # # # # # 
        NAV
# # # # # # # # # # # # # # 
*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
nav ul div {
  list-style: none;
  display: flex;
  margin: 0 50px;
}
nav ul a {
  color: rgb(234, 204, 194, 0.5);
  text-decoration: none;
  margin: 10px;
  padding-bottom: 3px;
  font-size: 0.8rem;
  transition: 0.5s;
}
nav ul a:hover {
  color: rgb(234, 204, 194);
  border-bottom: 1px solid rgb(234, 204, 194);
}

header aside ul li {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header aside {
  height: 85vh;
  display: flex;
}
header aside ul {
  justify-content: start;
}
header aside ul li a {
  margin-left: 5%;
  font-size: 0.8rem;
}

.navSideLines {
  height: 5vh;
  margin: 0 0 0 9px;
  border-left: 1px solid rgb(234, 204, 194, 0.5);
}
.navSideDots {
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 50%;
  position: relative;
}
aside ul li a:hover {
  border: none;
}
.activeDot {
  border: 1px solid #fff;
}
.activeLink {
  color: rgb(234, 204, 194);
}
.navSideDots:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 1px solid rgb(234, 204, 194, 0.5);
}
/* 
##################################
        MAIN
##################################
*/
main section:first-of-type img {
  width: 100%;
}
main section h1 {
  width: 30%;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0 0 8% 30%;
}
main section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section:nth-of-type(2) div img {
  width: 70%;
  /* object-fit: cover; */
}
main section:nth-of-type(2) div:nth-of-type(1) {
  /* object-fit: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
}
main section:nth-of-type(2) div {
  width: 40%;
  margin: 10% 0;
}
h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: 5% 0;
}
main section p {
  color: rgb(115, 115, 115);
  font-size: 0.5;
  font-weight: 100;
  line-height: 1.5;
}
/* 
##################################
        FOOTER
##################################
*/
